:root{
    --bege_claro: #F5F0E6;
    --creme_suave: #ECE2D0;
    --marrom_escuro: #3E3A36; 
    --caramelo: #A67C52;
    --marrom_café: #2E1F17;
    --marrom_claro: #D6C4A8;
}
* {
    margin: 0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* border: 1px solid black; */
}
html {
    font-size: min(0.17vh, 0.087vw);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    flex-direction: row;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-weight: bold;
    text-decoration: none;
    color: var(--marrom_café);
    text-align: center;
    height: fit-content;
}

.logo:hover {
    opacity: 0.8;
}

.logo .logo-key {
    font-size: 30.3rem;
}

.logo .logo-text {
    font-size: 27.3rem;
}

.section {
    background-color: var(--bege_claro);
    width: 100%;
    height: 100vh;
    scroll-margin-top: 10vh;
}

.header{
    flex-direction: row;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: var(--marrom_claro);
    z-index: 10;
}

.banner {
    width: 100%;
    height: 100%;
}

.navbar {
    flex-direction: row;
    width: 30%;
}

.navbar, .navbar a {
    height: fit-content;
    color: var(--marrom_café);
    font-size: 16.3rem;
}

.navbar a {
    list-style: none;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.button-container button{
    background-color: var(--caramelo);
    border: none;
    border-radius: 200px;
    height: fit-content;
    width: fit-content;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    font-size: 17rem;
    transition: 0.3s;
    padding: 5rem 20rem;
    color: var(--marrom_café);
    a{
        color: var(--marrom_café);
        text-decoration: none;
        list-style: none;
    }
}

.button-container button:hover {
    box-shadow: 1rem 1rem 4rem 1rem var(--marrom_café);
    transition: 0.3s;
    size: 1.2;
}

#cadastro-button:hover {
    box-shadow: 1rem 1rem 4rem 1rem var(--marrom_claro);
}

#home{
    padding-top: 10vh;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/estante-livros.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    justify-content: center;
}

#quote-container {
    width: 50%;
    height: 50%;
}

#quote-text, #quote-autor {
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

#quote-text {
    font-size: 46.6rem;
    text-align: center;
}

#quote-autor {
    font-size: 28rem;
    text-align: right;
}

h1 {
    font-style: italic;
    font-size: 33rem;
    margin: 0
}

#habito, #beneficios, #sobre, #ferramentas {
    /* border: 1px solid black; */
    color: var(--marrom_café);
    h1 {
        font-size: 56rem
    };
    h2 {
        font-size: 21rem;
    };
    h3 {
        font-size: 17.6rem
    };
    p, span {
        font-size: 18rem
    };
    .section-title {
        text-align: center;
        width: 100%;
        height: 20%;
    };
    .container {
        flex-direction: row;
        width: 100%;
        height: 80%;
        justify-content: space-evenly
    };
    .card {
        margin: 2%;
        flex-direction: column;
        height: 90%;
        width: 30%;
        border-radius: 20rem;
        background-color: var(--creme_suave);
        box-shadow: 4px 4px 0px 0px var(--caramelo);
        .card-content {
            width: 80%;
            height: 70%;
        };
        .card-title {
            text-align: center;
            padding: 10%;
            width: 100%;
            height: 20%;
        }
    };
}

#habito, #ferramentas  {
    .card {
        margin: 2%;
        flex-direction: column;
        height: 90%;
        width: 30%;
        border-radius: 20rem;
        background-color: var(--creme_suave);
        box-shadow: 4rem 4rem 0px 0px var(--caramelo);
        .card-content {
            width: 80%;
            height: 70%;
        };
        .card-title {
            text-align: center;
            padding: 10%;
            width: 100%;
            height: 20%;
        }
    };
    /* .card:hover {
        transform: translateY(-20rem);
    } */
}

#beneficios {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/homem-lendo-estante.png");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    justify-content: center;
}

#ferramentas {
    text-align: center;
    .container {
        height: 60%;
        .flex {
            flex-direction: column;
            justify-content: space-between;
            align-content: flex-start;
        }
    }
    .icone {
        font-size: 40rem;
    };
}

.login, .cadastro{
    color: var(--caramelo);
    .section {
        background-image: url("../assets/livo-biblioteca.jpg");
        background-color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .header {
        justify-content: left;
        background-color: transparent;
        position: fixed
    };
    .logo {
        margin-left: 5%;
        color: var(--caramelo);
    };
    main {
        background-color: var(--creme_suave);
        height: 70%;
        width: 30%;
        border-radius: 20rem;
        padding: 5rem;
    };  
    .redirect {
        font-size: 11.6rem;
        span {
            color: var(--marrom_escuro)
        };
        a {
            color: blue
        };
    };
    .forms {
        width: 55%;
    }
    input {
        font-size: 17rem;
        border: 1rem solid var(--caramelo);
        border-radius: 100px;
        background-color: transparent;
        text-align: center;
        padding: 2% 20%;
    };
    input:focus {
        outline: none;
    }
    input::placeholder {
        color:var(--caramelo);
        font-size: 10.3rem;
        font-weight: bold;
        font-style: italic;
    }
    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        label {
            align-self: flex-start;
            font-weight: bold;
            font-size: 15.6rem
        };
    };
    /* .mandatory-sign {
        color: blue;
        font-size: 11.6rem;
    } */
    #verify-msg {
        width: 30%;
        flex-wrap: wrap;
        position: absolute;
        bottom: 20vh;
        color: red;
        font-size: 10rem;
        text-align: center;
    }
}

.perfil {
    flex-direction: row;
    font-size: 17rem;
    margin: 0;
    width: 100%;
    height: 100vh;
    color: var(--caramelo);
    /* *{border: 1px solid black;}; */
    *{
        flex-direction: row;
    };
    .navbar {
        background-color: var(--marrom_claro);
        font-size: 10rem;
        flex-direction: column;
        height: 100vh;
        width: 15%;
        border-right: 2rem solid var(--marrom_café);
        .profile {
            height: 10%;
            width: 100%;
            flex-direction: row;
            justify-content: left;
            border-bottom: 1rem solid var(--marrom_café);
            .user {
                height: 100%;
                width: 100%;
                justify-content: space-evenly;
                .icon {
                    padding: 3%;
                    height: fit-content;
                    width: fit-content;
                    border: 1rem solid var(--marrom_café);
                }
                .icone {
                    padding: 0;
                    font-size: 35rem;
                };
                .info {
                    width: 60%;
                    height: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center
                }
            };
            .config {
                height: 100%;
                align-content: flex-end;
            }
        }
        .toolsList {
            font-size: 13rem;
            flex-direction: column;
            justify-content: space-evenly;
            height: 80%;
            width: 100%;
            .flex {
                width: 100%;
                justify-content: left;
            }
        };
        .link-button:hover{
            cursor: pointer;
            h3 {
                text-decoration: underline;
            };
        }
        .icone {
            padding: 0 10%;
        };
        .options {
            height: 10%;
            width: 100%;
            .link-button:hover{
                cursor: pointer;
                h3 {
                    text-decoration: underline;
                };
            }
            .flex {
                width: 50%;
                justify-content: center;
            }
        }
    };
    .home {
        flex-direction: column;
        height: 100vh;
        width: 85%;
        .title {
            width: 100%;
            height: 10%;
        }
        .toolsCard {
            flex-wrap: wrap;
            width: 100%;
            height: 90%;
            .container {
                flex-direction: column;
                text-align: center;
                height: 40%;
                width: 35%;
            };
            .container {
                background-color: var(--creme_suave);
                box-shadow: 4rem 4rem 0rem 0rem var(--caramelo);
                transition-duration: 0.3s;
            }
            .container:hover {
                transform: translateY(-10rem);
                cursor: pointer;
                transition-duration: 0.3s;
            };
            .icone {
                transform: scale(3);
            };
        };
    };
    .dashboard {
        flex-direction: column;
        width: 100%;
        height: 100%;
        .title {
            width: 100%;
            height: 10%;
            text-align: center
        };
        .main-content {
    /* *{border: 1px solid gray;}; */
            width: 100%;
            height: 90%;
            .left-box {
                height: 100%;
                width: 70%;
                .kpis {
                    text-align: center;
                    width: 100%;
                    height: 25%;
                    .kpi-box1 {
                        height: 100%;
                        width: 100%;
                    };
                    .kpi-box2 {
                        width: 100%;
                        height: 33%;
                    }
                };
                .line-chart {
                    width: 100%;
                    height: 75%;
                };
            };
            .right-box {
                height: 100%;
                width: 30%;
                .content {
                    width: 100%;
                    height: 100%;
                };
            };
        };
    };
    .diario {
        /* *{
            border: 1px solid black;
        } */
        .title {
            text-align: center;
            width: 100%;
            height: 10%;
        };
        #pagina_inicial {
            flex-direction: column;
            width: 100%;
            height: 90%;
            text-align: center;
            .main {
                width: 100%;
                height: 90%;
                text-align: left;
                .box {
                    padding: 2%;
                    width: 50%;
                    height: 100%;
                    flex-direction: column;
                    justify-content: left;
                    align-items: center;
                    h3 {
                        padding: 2%;
                    }
                    .lista {
                        width: 100%;
                        height: 100%;
                    }
                }
            };
            .buttons {
                width: 100%;
                height: 10%;
                #buttons_inicial {
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                }
            }
        };
        #pagina_conteudo {
            width: 100%;
            height: 90%;
            flex-direction: column;
            #pagina_cadastroLivro, #pagina_registroLeitura {
                height: 90%;
                justify-content: space-evenly;
                flex-direction: column;
            }
            #button_voltar {
                width: 100%;
                height: 10%;
            }

        }
    }
}


.footer {
    width: 100%;
    height: 2vh;
    background-color: var(--marrom_claro);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--marrom_café);
    font-size: 10rem;
    border-top: 1rem solid var(--marrom_café);
    * {
        flex-direction: row;
        margin: 0;
        padding: 0rem 10rem;
    };
    .ref {
        font-size: 8rem;
    };

}